.navbar{
	margin-bottom: 0px;
	height: 100px;
}
.container.topnav {
    font-size: 17px;
    padding-top: 15px;
}
.single-course-box .item.text-center.bg-white:hover {
    box-shadow: 2px 1px 2px #47C1E3;
}
.bg-info {
    background-color: #4da6c7;
    color: white;
}
.bg-dark h1 {
    color: black;
}
.bg-dark p, .bg-dark a {
    color: #332600;
}
.single-course-public.img-full {
    max-height: 500px;
    object-fit: contain;
    width: 100%;
}

.img-info.img-bg::after {
    background-color: #3a3f51 !important;
}

#vid-thumb video {
    display: block !important;
    margin: auto !important;
    width: 70% !important;
}
#vid-box > video {
    display: block;
    float: left;
    margin-right: 25px;
    margin-top: 25px;
    width: 15% !important;
}
.video2 {
    display: block;
    margin-bottom: 50px;
    max-height: 158px;
    overflow: hidden;
    width: 100%;
}

.bg-dark {
    background-color: #ffc933;
    color: #332600 !important;
    position: relative;
    top: 50px;
}
.p-t-xxl {
    padding-bottom: 25px;
    padding-top: 25px;
}
.col-md-3{
    margin-bottom: 25px;
}
.bg-info {
    background-color: white;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.05);
    color: #332600;
}
.bg-info a {
    color: #332600;
}
.bg-dark h1 {
    color: #332600;
}

.bg-info.content {
    margin-top: 50px;
    padding-top: 50px;
}
.form-control , textarea {
    border-color: #564aa3;
}
.navbar-form .form-control.input-sm.bg-light {
    border-color: transparent !important;
}
.create-course-teacher .form-control, .create-course-teacher textarea, .note-editor, .send-message-form .form-control , .send-message-form textarea.form-control {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
}
footer.bg-dark {
    padding: 0;
}
footer .container .row.m-t-md {
    margin-bottom: 10px;
    margin-top: 15px;
}
/*** Remove the image and video inserting ***/
.note-insert button + button {
    display: none !important;
}




/**** Message ***********/
.s_title, .t_title{
    display: none;
}
.left-users h3:first-of-type, .left-users h4:first-of-type {
    display: block;
}

.bg-light{
    background: white;
}
.bg-info{
    background: #edf1f2;
}
.right{
    background: white none repeat scroll 0 0;
    min-height: 200px;
    padding-top: 50px;
    text-align: center;
    width: 24%;
}